In [14]:
import pandas as pd
import math

a = [0] * 1000
a[40] = "Netherlands"
a[616] = "Poland"
a[36] = "Austria"
a[276] = "Germany"
a[56] = "Belgium"

class node:
    
    def __init__(self, arrive, depart, cash, counry_id):
        self.arrivial_time = arrive
        self.departure_time = depart
        self.cash = cash
        self.country_id = country_id


def radian(x):
    return (x * math.pi) / 180

def distance(f1, f2, q1, q2):
    f1 = radian(f1)
    f2 = radian(f2)
    q1 = radian(q1)
    q2 = radian(q2)
    temp1 = ((math.sin(f2 - f1) / 2)**2) + math.cos(f1) * math.cos(f2) * ((math.sin(q2 - q1) / 2)**2)
    return 2 * 6371 * math.asin(temp1**0.5)

def get_time(dist):
    return dist / 40

def id_to_sights(id):
    res = a[id]
    if (res == "Netherlands"):
        return pd.read_json('Netherlands')
    if (res == "Poland"):
        return pd.read_json('Poland')
    if (res == "Belgium"):
        return pd.read_json('Belgium')
    if (res == "Austria"):
        return pd.read_json('Austria')
    if (res == "Germany"):
        return pd.read_json('Germany')

In [16]:
start_time = pd.to_datetime("08-02-2020")
end_time = pd.to_datetime("09-02-2020")
id = 40
cash = 20000
node = (start_time, end_time, 20000, 40)
country = a[id]
id_to_sights(id)

,name,x,y,cost,time
0,Rijksmuseum,52.359324,4.883064,2500,1:30:0
1,Van Gogh Museum,52.358419,4.878887,2000,1:40:0
2,Albert Cuymarkt,52.355971,4.893198,-1,2:00:00
3,Henri Willig Cheese Farm Store - Amsterdams Ka...,52.376956,4.894621,-1,0:45:0
4,Amsterdam Withlocals,52.354553,4.758529,0,2:20:00
5,De Bierkoning,52.371956,4.901976,-1,0:20:0
6,Dappermarkt,52.361599,4.926191,-1,1:10:00
7,Old Amsterdam Cheese Store,52.361627,4.910870,-1,0:45:00
8,Museum of the Canals,52.361677,4.910870,1300,1:10:00
9,Amsterdam Pipe Museum,52.364123,4.883097,1700,0:35:00