In [1]:
import pandas as pd
import numpy as np
import os

from tqdm import tqdm_notebook

import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Flatten, Reshape, Conv2D, Conv2DTranspose, UpSampling2D
from tensorflow.keras.layers import LeakyReLU, Dropout, ReLU, BatchNormalization, InputLayer, Concatenate
from tensorflow.keras.optimizers import Adam, RMSprop

## API usage

In [2]:
import fict_api4 as fapi

In [4]:
env = fapi.Environment()

Generating time_to_planes dataset...
Generating country_to_hotels dataset...
Done

To run example of using env use the code below

In [19]:
time1 = pd.to_datetime('28/8/2020')
time2 = pd.to_datetime('29/8/2020')

env.get_hotels(4, time1, time2)

Empty DataFrame
Columns: [name, day_price, available_from, available_to, x, y]
Index: []

In [20]:
env.get_tickets(time1, time2)

Empty DataFrame
Columns: [price, from, to]
Index: []

## NN usage

In [9]:
import prediction

net = prediction.NN(True)

full_predict = net.G.predict(net.user_data.values.astype('float32'))

Data imported...
Weights loaded

## Parser Usage

In [16]:
cities_ = pd.read_csv('cities.csv')

In [23]:
df = net.user_data.copy()

In [30]:
df['target'] = full_predict[:, -1]

In [28]:
df

,SMS_IN_CNT_M3_mean,SMS_IN_CNT_M3_std,TRIP_DURATION_mean,TRIP_DURATION_std,MOU_IN_REVENUE_M3_mean,MOU_IN_REVENUE_M3_std,MOU_OUT_REVENUE_M3_mean,MOU_OUT_REVENUE_M3_std,DOU_DURATION_M3_mean,DOU_DURATION_M3_std,...,548,336,862,704,876,732,887,894,716,target
User_ID,,,,,,,,,,,,,,,,,,,,,
80000,299.000000,1.154701,4.500,1.290994,532.116667,78.731334,466.699996,67.222821,5381.978539,1291.962179,...,False,False,False,False,False,False,False,False,False,162.611221
80001,395.050000,143.792788,4.650,4.749238,250.322501,107.936626,301.601666,79.642260,1857.871891,1692.410125,...,False,False,False,False,False,False,False,False,False,221.555069
80002,164.500000,28.991378,7.000,8.485281,84.649999,19.963982,78.641666,15.026017,8816.631841,3352.524450,...,False,False,False,False,False,False,False,False,False,197.675171
80003,249.666667,63.006878,5.500,4.929503,822.913890,417.014447,628.141667,537.880583,3695.561045,843.805226,...,False,False,False,False,False,False,False,False,False,322.103485
80004,438.625000,109.247998,3.625,4.274091,295.881251,82.766410,353.275002,118.160949,2520.610484,962.627535,...,False,False,False,False,False,False,False,False,False,184.362793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180448,176.000000,0.000000,4.000,0.000000,173.050002,0.000000,280.716670,0.000000,1273.079104,0.000000,...,False,False,False,False,False,False,False,False,False,209.140411
180449,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,False,False,False,False,False,False,False,False,148.776703
180450,0.000000,0.000000,11.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,False,False,False,False,False,False,False,False,42.530090
180451,0.000000,0.000000,13.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,False,False,False,False,False,False,False,False,152.927689
180452,70.000000,0.000000,0.000,0.000000,225.050000,0.000000,224.416668,0.000000,1720.324223,0.000000,...,False,False,False,False,False,False,False,False,False,192.226761

In [21]:
net.user_data.join(full_predict[:, -1:])

AttributeError: 'numpy.ndarray' object has no attribute 'index'