In [2]:
import pandas as pd

In [9]:
TIME_SPENT_AT_AIRPORT = 0

In [4]:
class node:
    
    def __init__(self, arrive, depart, cash, country):
        self.arrival_time = pd.to_datetime(arrive)
        self.departure_time = pd.to_datetime(depart)
        self.cash = cash
        self.country_id = country

In [8]:
node("10-11-2222", "30-10-2020 10:10", 10, 11).departure_time

Timestamp('2020-10-30 10:10:00')

arrival - airport - taxi - hotel - taxi - excursion - taxi - excursion - eat - taxi - excursion - eat - taxi - hotel - taxi - airport - departure

In [10]:
def get_flights(arrival, departure, country):
    pass

In [15]:
Berlin = pd.DataFrame(columns = ['name', 'coordx', 'coordy', 'cost', 'time'])

In [33]:
Berlin.loc[0] = ['reihstag', 11., 15., 0, '0:10:0']

In [34]:
Berlin.time = pd.to_timedelta(Berlin.time)

In [35]:
Berlin

       name  coordx  coordy  cost     time
0  reihstag    11.0    15.0     0 00:10:00