In [2]:
import pandas as pd

In [9]:
TIME_SPENT_AT_AIRPORT = 0

In [4]:
class node:
    
    def __init__(self, arrive, depart, cash, country):
        self.arrival_time = pd.to_datetime(arrive)
        self.departure_time = pd.to_datetime(depart)
        self.cash = cash
        self.country_id = country

In [8]:
node("10-11-2222", "30-10-2020 10:10",t 10, 11).departure_time

Timestamp('2020-10-30 10:10:00')

arrival - airport - taxi - hotel - taxi - excursion - taxi - excursion - eat - taxi - excursion - eat - taxi - hotel - taxi - airport - departure

In [46]:
EURO_TO_RUBLE = 70

In [68]:
Berlin = pd.DataFrame(columns = ['name', 'x', 'y', 'cost', 'time'])

In [69]:
Berlin.loc[0] = ['Brandenburg Gate', 52.5162778, 13.3755154, 0, '0:15:0']
Berlin.loc[1] = ['Reichstag', 52.5186202, 13.3761872, 0, '1:0:0']
Berlin.loc[2] = ['East Side Gallery', 52.5054076, 13.43636, 0, '0:15:0']
Berlin.loc[3] = ['Museum Island', 52.5168903,13.3977636, 20 * EURO_TO_RUBLE, '3:0:0']
Berlin.loc[4] = ['Unter den Linden', 52.5168477,13.3870119, 0, '0:20:0']
Berlin.loc[5] = ['Kaiser Wilhelm Memorial Church', 52.5048212,13.332888, 10 * EURO_TO_RUBLE, '1:0:0']
Berlin.loc[6] = ['Postdam Platz', 52.509652,13.3737501, 0, '0:30:0']
Berlin.loc[7] = ['New Museum', 52.5201381,13.3954522, 20 * EURO_TO_RUBLE, '2:0:0']
Berlin.loc[8] = ['Checkpoint Charlie', 52.5075914,13.3881815, 0, '0:15:0']
Berlin.loc[9] = ['Berlin Flea Market', 52.5135913,13.3311879, -1, '0:45:0']

In [70]:
Germany = Berlin

In [72]:
Belgium = pd.DataFrame(columns = ['name', 'x', 'y', 'cost', 'time'])

In [73]:
Belgium.loc[0] = ['Grand Palace', 50.8467316,4.3502251, 0, '0:45:0']
Belgium.loc[1] = ['Atomium', 50.8949444,4.339353, 0, '0:15:0']
Belgium.loc[2] = ['Square Ambiorix', 50.8468312,4.3811363, 0, '1:30:0']
Belgium.loc[3] = ['St Michael and St Gudula Cathedral', 50.8478366,4.3579135, 20 * EURO_TO_RUBLE, '1:30:0']
Belgium.loc[4] = ['Mont des Arts', 50.844378,4.3537282, 0, '0:45:0']
Belgium.loc[5] = ['Saint Hubert Gallery', 45.7674464,4.8563057, -1, '1:30:0']
Belgium.loc[6] = ['Musical Instruments Museum', 50.8430976,4.3569343, 20 * EURO_TO_RUBLE, '1:0:0']
Belgium.loc[7] = ['Mini-Europe', 50.8940884,4.3367429, 40 * EURO_TO_RUBLE, '1:30:0']
Belgium.loc[8] = ['Notre-Dame du Sablon', 50.8401325,4.3536889, 10 * EURO_TO_RUBLE, '0:30:0']
Belgium.loc[9] = ['Cinquantenaire', 50.8413964,4.3882893, 0, '1:0:0']

In [74]:
Belgium.to_json('../Belgium')

In [75]:
Germany.to_json('../Germany')

---

In [76]:
path = []
path.append({'type':'flight',
            'name':'Самолет в Австрию', 
            'time_in':'08:00', 
            'time_out':'11:30'})
path.append({'type':'hotel', 
            'name':'Заселение в отель Nice Plaza',
            'time_in':'12:15',
            'time_out':'13:00'})
path.append({'type':'food', 
            'name':'Обед в Eat Place 1',
            'time_in':'13:15',
            'time_out':'13:50'})
path.append({'type':'sightseing', 
            'name':'Музей павла семнадцатого',
            'time_in':'14:00',
            'time_out':'15:00'})
path.append({'type':'sightseing', 
            'name':'Парк синий',
            'time_in':'15:30',
            'time_out':'17:00'})
path.append({'type':'souvenirs', 
            'name':'Торговая площадь',
            'time_in':'17:30',
            'time_out':'18:00'})
path.append({'type':'food', 
            'name':'Ужин в Eat Place 14',
            'time_in':'18:15', 
            'time_out':'19:00'})
path.append({'type':'hotel', 
            'name':'Выселение из отеля',
            'time_in':'19:10',
            'time_out':'19:30'})
path.append({'type':'flight', 
            'name':'Аэропорт и вылет из австрии',
            'time_in':'20:15',
            'time_out':'23:00'})

In [77]:
path

[{'type': 'flight',
  'name': 'Самолет в Австрию',
  'time_in': '08:00',
  'time_out': '11:30'},
 {'type': 'hotel',
  'name': 'Заселение в отель Nice Plaza',
  'time_in': '12:15',
  'time_out': '13:00'},
 {'type': 'food',
  'name': 'Обед в Eat Place 1',
  'time_in': '13:15',
  'time_out': '13:50'},
 {'type': 'sightseing',
  'name': 'Музей павла семнадцатого',
  'time_in': '14:00',
  'time_out': '15:00'},
 {'type': 'sightseing',
  'name': 'Парк синий',
  'time_in': '15:30',
  'time_out': '17:00'},
 {'type': 'souvenirs',
  'name': 'Торговая площадь',
  'time_in': '17:30',
  'time_out': '18:00'},
 {'type': 'food',
  'name': 'Ужин в Eat Place 14',
  'time_in': '18:15',
  'time_out': '19:00'},
 {'type': 'hotel',
  'name': 'Выселение из отеля',
  'time_in': '19:10',
  'time_out': '19:30'},
 {'type': 'flight',
  'name': 'Аэропорт и вылет из австрии',
  'time_in': '20:15',
  'time_out': '23:00'}]

In [78]:
netherlands = pd.read_json('../Netherlands')

In [79]:
netherlands.head(0)

Empty DataFrame
Columns: [name, x, y, cost, time]
Index: []